node_modules
.next
.git
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
README.md
docs
scripts
Dockerfile
.dockerignore
# package-lock.json is required for npm ci
npm-debug.log
yarn-debug.log
yarn-error.log
F?EasyEve_*
