# EVE Online OAuth2
EVE_CLIENT_ID=f0b206a828df4b4c85f51f01f3792a7b
EVE_CLIENT_SECRET=ZUfbjTV74THqWsoc5pMh2k0XsQNnF7FpgT1eegk5

# NextAuth
NEXTAUTH_SECRET=ZWFzeWV2ZS1uZXh0YXV0aC1zZWNyZXQta2V5LXZlcnktc2VjdXJlLWZvci1qd3QtdG9rZW5zLTIwMjQ=
NEXTAUTH_URL=http://localhost:3000

# Database
DATABASE_URL=postgres://postgres:wU0hW7GQ3mcm4EeL3IRuyz2GKAiFrD4QeYY53hzbc3kxKzW9TtO88syMpkeCmUYc@v138r7nbh2vi6ptaev9faaqt:5432/postgres
